@model IEnumerable<ABCShoppingMall.Models.ShoppingCenter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserProductSide.cshtml";
}

<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Latest Shops</h2>
                    <span>Check out all of our Shops.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                             
                            </div>

                            <tr>


                                <img src="@Url.Action("DisplayImage", "User",new{ id= @item.Id })" height="300px" width="300px" alt="Image" />
                                <!-- other columns -->
                            </tr>
                           
                        </div>
                        <div class="down-content">
                            <h4>@item.ShopName</h4>
                            <span>@item.Shop_Detail</span>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>
</section>