@model IEnumerable<ABCShoppingMall.Models.Gallery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GalleriesLayoutPage.cshtml";
}

<section class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Gallery</h2>
                    <span>Where art meets commerce: Explore our curated gallery shop.</span>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>

                            <tr>


                                @item.Gallery_Detail

                                <!-- other columns -->
                            </tr>
                            

                        </h4>
                            @item.Gallery_Detail
                        <tr>


                            <img src="@Url.Action("DisplayImage", "GalleriesUser",new{ id= @item.Id })" height="350px" width="auto" alt="Image" />
                            <!-- other columns -->
                        </tr>

                    </div>
                </div>
                

                }

                    
                    
                </div>
    </div>
</section>
